Task1:Computation of inter-event time.

In [96]:
import numpy as np
import pandas as pd
def inter_event_times(events, threshold):
  timeseries = np.where(events >= t)
  ietimes = np.zeros(len(timeseries[0]) - 1)
  a = timeseries[0]
  for i in range(len(ietimes)):
    ietimes[i] = a[i+1] - a[i]
  return ietimes

In [97]:
events = np.array([10,1,6,4,3,2,7,0,8,8,2,0,7,7,1,0])
t = 5
inter_event_times(events, t)

array([2., 4., 2., 1., 3., 1.])

Task2:Analyzing the CMS Nursing Home Dataset.

In [98]:
df = pd.read_csv('/Users/liqi/Desktop/IE5374/作业1/COVID-19 Nursing Home Data 09.11.2022.csv')
df.head()

/var/folders/8d/mvyw1th16qv_y3s_s33b1l340000gn/T/ipykernel_5997/2924227062.py:1: DtypeWarning: Columns (1,41,42,43,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/liqi/Desktop/IE5374/作业1/COVID-19 Nursing Home Data 09.11.2022.csv')

,Week Ending,Federal Provider Number,Provider Name,Provider Address,Provider City,Provider State,Provider Zip Code,Provider Phone Number,County,Submitted Data,...,Percentage of Current Residents Up to Date with COVID-19 Vaccines with No Medical Contraindications,Percentage of Current Residents with a Completed Vaccination Up to Date with COVID-19 Vaccines,Number of Healthcare Personnel with a Completed Vaccination Staying in this Facility for At Least 1 Day This Week who Received a COVID-19 Vaccine Booster at Any Time,Recent Percentage of Current Healthcare Personnel with a Completed Vaccination who Received a COVID-19 Vaccine Booster at Any Time,Percentage of Current Healthcare Personnel with a Completed Vaccination who Received a COVID-19 Vaccine Booster at Any Time,Number of Healthcare Personnel Eligible to Work in this Facility for At Least 1 Day This Week Up to Date with COVID-19 Vaccines,Recent Percentage of Current Healthcare Personnel Up to Date with COVID-19 Vaccines,Percentage of Current Healthcare Personnel Up to Date with COVID-19 Vaccines,Percentage of Current Healthcare Personnel Up to Date with COVID-19 Vaccines with No Medical Contraindications,Percentage of Current Healthcare Personnel with a Completed Vaccination Up to Date with COVID-19 Vaccines
0,05/24/20,15009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,2563324110,Franklin,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,05/31/20,15009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,2563324110,Franklin,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,06/07/20,15009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,2563324110,Franklin,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,06/14/20,15009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,2563324110,Franklin,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,06/21/20,15009,"BURNS NURSING HOME, INC.",701 MONROE STREET NW,RUSSELLVILLE,AL,35653,2563324110,Franklin,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
# 1.Generate a table showing the distribution of the number of nursing home facilities by state and county
df_number = pd.DataFrame(df.groupby(['Provider State', 'County'])['Provider Name'].nunique().reset_index(name = 'Number'))
display(df_number)

     Provider State            County  Number
0                AK         Anchorage       3
1                AK            Bethel       1
2                AK  Cordova-Mccarthy       1
3                AK         Fairbanks       1
4                AK            Juneau       1
...             ...               ...     ...
2892             WY        Sweetwater       2
2893             WY             Teton       1
2894             WY             Uinta       1
2895             WY          Washakie       1
2896             WY            Weston       1

[2897 rows x 3 columns]

In [112]:
# 2.List the top 5 states by the number of nursing home facilities
df_top5 = pd.DataFrame(df.groupby(['Provider State'])['Provider Name'].nunique().reset_index())
df_top5.columns = ['State', 'Number']
df_top5 = df_topfive.sort_values(by = ['Number'], ascending = False).iloc[0:5]
display(df_top5)

   State  Number
45    TX    1228
4     CA    1184
36    OH     968
15    IL     718
9     FL     707

In [132]:
# 3.Conduct a facility analysis on shortage of aides, clinical staff, nursing staff and other staff. Define the following metric for this analysis: number of weeks the shortage was experienced. The metric should be categorized into 3 categories, 0-10, 11-20 and >20 weeks. 
df_st = pd.DataFrame(df.groupby(['Provider Name',
                                 'Shortage of Aides',
                                 'Shortage of Clinical Staff',
                                 'Shortage of Nursing Staff',
                                 'Shortage of Other Staff'])['Provider Name'].count().reset_index(name = 'Number'))
df_analysis = df_st.loc[(df_st['Shortage of Aides'] == 'Y') & 
                        (df_st['Shortage of Clinical Staff'] == 'Y') &
                        (df_st['Shortage of Nursing Staff'] == 'Y') & 
                        (df_st['Shortage of Other Staff'] == 'Y')]
df_analysis = df_analysis[['Provider Name', 'Number']]
weeks = []
for i in df_analysis['Number']:
    if i < 11:
        weeks.append('0-10')
    elif 11 <= i < 20:
        weeks.append('11-20')
    else:
        weeks.append('>20')
df_analysis['Shortage of weeks'] = weeks
df_shortage = df_analysis[['Provider Name', 'Shortage of weeks']]
display(df_shortage)

                              Provider Name Shortage of weeks
15                               24TH PLACE              0-10
23            A.G. RHODES HOME WESLEY WOODS              0-10
30               A.G. RHODES HOME, INC, THE              0-10
32     AARON MANOR NURSING & REHABILITATION              0-10
40                         AASE HAUGEN HOME              0-10
...                                     ...               ...
56855                  YUCCA VALLEY NURSING              0-10
56871                         ZARROW POINTE              0-10
56874              ZEARING HEALTH CARE, LLC              0-10
56889         ZERBE SISTERS NURSING CENTER,              0-10
56898                  ZUMBROTA CARE CENTER              0-10

[7051 rows x 2 columns]

In [133]:
# 4.For Middlesex county in Massachusetts compute the hospital bed occupancy in percentage for each facility. How many facilities had 100 % of hospital bed occupancy for 3 weeks or more?
df_MA = df.loc[(df['Provider State'] == 'MA') & (df['County'] == 'Middlesex')]
df_MA = df_MA[['Provider Name', 'Number of All Beds', 'Total Number of Occupied Beds']]
df_MA['ratio'] = df_MA['Total Number of Occupied Beds'] / df_MA['Number of All Beds']
df_bed = df_MA.loc[df_MA['ratio'] == 1.]
df_100 = df_bed['Provider Name'].value_counts().reset_index()
df_100.columns = ['Provider Name', 'weeks']
display(df_100)
(df_100['weeks'] >= 3).sum()

                                  Provider Name  weeks
0        STONE REHABILITATION AND SENIOR LIVING     60
1                       BROOKHAVEN AT LEXINGTON      7
2                                 CARLYLE HOUSE      4
3                            CARE ONE AT NEWTON      3
4                 SANCTA MARIA NURSING FACILITY      3
5   WATERTOWN REHABILITATION AND NURSING CENTER      1
6    VNA SENIOR LIVING - HIGHLAND AVENUE CAMPUS      1
7                     PARK AVENUE HEALTH CENTER      1
8               ALLIANCE HEALTH AT MARIE ESTHER      1
9          D'YOUVILLE CARE FOR ADVANCED THERAPY      1
10                 SEVEN HILLS PEDIATRIC CENTER      1

5

In [129]:
# 5.Generate a table showing the distribution of the number of nursing home facilities by division. 
d1 = ['WA','OR','CA','AK','HI']
d2 = ['MT','ID','WY','NV','UT','CO','AZ','NM']
d3 = ['ND','SD','NE','KS','MN','IA','MO']
d4 = ['OK','AR','TX','LA']
d5 = ['WI','IN','IL','MI','OH']
d6 = ['KY','TN','MS','AL']
d7 = ['NY','NJ','PA']
d8 = ['ME','CT','MA','NH','RI','VT']
d9 = ['DC','DE','MD','WV','VA','NC','SC','GA','FL']

In [130]:
df_d = pd.DataFrame(df.groupby(['Provider State'])['Provider Name'].nunique().reset_index(name = 'Number'))
df_d1 = df_d.loc[df_d['Provider State'].isin(d1)].sum()
df_d2 = df_d.loc[df_d['Provider State'].isin(dv2)].sum()
df_d3 = df_d.loc[df_d['Provider State'].isin(dv3)].sum()
df_d4 = df_d.loc[df_d['Provider State'].isin(dv4)].sum()
df_d5 = df_d.loc[df_d['Provider State'].isin(dv5)].sum()
df_d6 = df_d.loc[df_d['Provider State'].isin(dv6)].sum()
df_d7 = df_d.loc[df_d['Provider State'].isin(dv7)].sum()
df_d8 = df_d.loc[df_d['Provider State'].isin(dv8)].sum()
df_d9 = df_d.loc[df_d['Provider State'].isin(dv9)].sum()

In [131]:
df_division = pd.DataFrame({
    'Number':[df_d1['Number'], df_d2['Number'], 
              df_d3['Number'], df_d4['Number'], 
              df_d5['Number'], df_d6['Number'], 
              df_d7['Number'], df_d8['Number'], 
              df_d9['Number']]
}, index = ['D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9'])
display(df_division)

    Number
D1    1586
D2     801
D3    2037
D4    2031
D5    2982
D6    1035
D7    1672
D8     869
D9    2394